@media screen {



html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #3498db;
}

a:visited {
  color: #3498db;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
  padding-top: 3.5em;
}

#intro {
  width: 100%;
  height: 100vh - 50px;
  background: url(http://www.goodwp.com/images/201307/goodwp.com_29396.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
}
#intro h1 {
  margin-top: 3em;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 4em;
}
#intro p {
  font-weight: 900;
  font-size: 1em;
  margin: 0;
}
#intro * {
  z-index: 2;
  color: white;
  position: relative;
}
#intro a {
  margin-top: 32px;
  width: 240px;
  padding: 1em;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  border: 1px solid white;
  background: #f1c40f;
  font-size: 0.9em;
}
#intro:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1;
}

#root {
  height: 100%;
}

.height-100 {
  height: 100%;
}

.flex {
  display: flex;
  height: 100%;
}

.wrap {
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  padding: 0 16;
}

.btn {
  padding: 0.5em 1.5em;
  color: #3498db;
  border: 1px solid #3498db;
  cursor: pointer;
  background: white;
  border-radius: 1px;
  text-decoration: none;
  user-select: none;
  display: inline-block;
  letter-spacing: 1px;
  transition: 0.2s all ease;
}

.btn:hover {
  color: white;
  background-color: #3498db;
}

.btn--loading {
  color: white;
  background-color: #3498db;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.5em;
  display: flex;
  padding: 1em;
  box-shadow: 0 0 2px rgba(0,0,0,.5);
  align-items: center;
  background-color: white;
  z-index: 999;
}

.nav__wrapper {
  max-width: 768px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.nav__logo {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;  
  margin: 0;
  color: #333;
}
.nav__logo-wrapper {
  text-decoration: none;
}

.btn-nav {
  text-transform: uppercase;
  font-size: 0.8em;
  margin-left: 1em;
}

.btn-active {
  background: #3498db;
  color: white !important;
}

.btn-nav.btn-nav__text {
  border: none;
  border-radius: 0;
}

.form-page__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.form-page__form-wrapper {
  max-width: 325px;
  width: 100%;
  border: 1px solid #efefef;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.form-page__form-heading {
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  user-select: none;
}

.form-page__form-subheading {
  text-align: left;
  font-size: .8em;
  text-align: center;
  color: #aaa;
}

.form-page__form-header {
  padding: 1em;
  background: #fafafa;
}

.form__field-wrapper {
  width: 100%;
  position: relative;
  padding-top: 1.75em;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  background-color: #fff;
  display: block;
}

.form__field-wrapper + .form__field-wrapper {
  border-top: none;
}

.form__field-input:focus ~ .form__field-label {
  color: #666;
}

.form__field-input:focus {
  color: #333;
}

.form__field-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  padding-top: 20px;
  padding-bottom: 0;
  margin: 0;
  z-index: 1;
  font-size: .8em;
  color: #999;
  font-weight: 400;
  user-select: none;
  cursor: text;
}

.form__field-input {
  position: relative;
  padding: 1.7em 16px;
  width: 100%;
  color: #666;
  border: none;
  outline: 0;
  letter-spacing: 0.05em;
}

.form__actions-wrapper {
  padding: 2em 1em;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.form__actions-button {
  cursor: pointer;
  padding: .75em 1.25em;
  text-transform: uppercase;
  background-color: #3498db;
  color: white;
  width: 100%;
}

.form__actions-extra {
  text-align: center;
  background: #fafafa;
  padding: 1em 1em;
  width: 100%;
  color: #aaa;
  font-size: 0.8em;
  border-top: 1px solid #efefef;
}

.js-form__err-animation {
  animation: shake 150ms ease-in-out;
}

.form__error-wrapper {
  justify-content: center;
  max-width: calc(100% - 2em);
  margin: 0 auto;
  margin-bottom: 1em;
}

.form__error {
  background-color: red;
  color: white;
  margin: 0;
  padding: 0.5em 1em;
  font-size: 0.8em;
  font-family: $text-font-stack;
  user-select: none;
}

.js-form__err .form__error-wrapper {
  display: flex;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* TRIP LIST PAGE */
.trip-page__wrapper {
  width: 100%;
}

.trip-page__list-wrapper {
  width: 100%;
  margin: 1.5em auto;
}

.trip-item__wrapper {
  padding-bottom: 1em;
  width: 48%;
  float: left;
  margin-bottom: 5%;
}
.trip-item__wrapper:nth-child(even) {
  margin-left: 4%;
}

.trip-item {
  display: block;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  position: relative;
  transition: all 0.2s ease;
}
.trip-item:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.trip-item__title {
  position: relative;
  padding: 16px;
  height: 140px;
  top: 0;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #eee;
  font-size: 1.25em;
  color: #3498db;
  overflow: hidden;
}
.trip-item__title:after {
  content: '';
  position :absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 2;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
.trip-item__title span.trip-item__title-text {
  z-index: 3;
  color: white;
  position: relative;
}

.trip-item__time-until {
  font-weight: bold;
  font-size: 0.9em;
  position: absolute;
  left: 16px;
  text-transform: uppercase;
  color: #999;
}

.trip-item__start-date {
  position: absolute;
  right: 16px;
  font-size: 0.9em;
  color: #333;
  font-weight: 300;
}

.trip-item__info {
  padding: 16px;
  position: relative;
  height: 48px;
  overflow: hidden;
  background: #fafafa;
}

.white.three-bounce > div {
  background: white !important;
}

.three-bounce > div {
  height: 1em !important;
  width: 1em !important;
  background: #3498db !important;
}

.DateRangePickerInput {
  border: none !important;
}

.DateRangePickerInput .DateInput {
  font-size: .8em;
  color: #999;
  font-weight: normal;
}

.DateRangePickerInput__arrow svg {
  fill: #999 !important;
}

.DateRangePicker__picker {
  z-index: 10 !important;
}

.new-trip__wrapper {
  display: flex;
  margin-top: 2em;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.new-trip-__form-wrapper {
}

.geosuggest__input {
  position: relative;
  padding: 1.7em 16px;
  width: 100%;
  color: #666;
  border: none;
  outline: 0;
  letter-spacing: 0.05em;
}
.geosuggest__input:focus {
  color: #333;
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fefefe;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest__item {
  font-size: .8em;
  padding: .5em .65em;
  cursor: pointer;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
  background: #eee;
}
.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #fafafa;
}

.filters__wrapper {
  height: 100px;
  width: 100%;
  position: relative;
}

.filters__search {
  width: 180px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 0.9em;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: .4em 0;
  background: transparent;
  color: #333;
  border-radius: 0;
}
.filters__search:focus {
  outline: none;
  border-bottom-color: #333;
  width: 220px;
}

.filters__right {
  width: auto;
  left: 0;
  padding: 0;
  top: 34px;
  background: transparent;
  box-shadow: none;
  display: inline-block;
  position: absolute;
}

.trip-item__map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}







}
@media print {
  .nav {display: none;}
  .print-btn {display: none;}
  body {
    background: white;
    color: black;
  }
}